
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

/* NORMALIZACIÓN DEL SITIO*/

/* Para declarar las variables --*/
:root {
    /* Palette */
    --primary-solid:#FF3333;
    --primary-900: rgba(255, 51, 51, .9);
    --primary-500: rgba(255, 51, 51, .5);
    --primary-300: rgba(255, 51, 51, .3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, .9);
    --secondary-500: rgb(29, 132, 181, .5);
    --secondary-300: rgb(29, 132, 181, .3);

    --dark-solid: #1f1f1f;
    --dark-900: rgb(31, 31, 31, .9);
    --dark-500: rgb(31, 31, 31, .5);
    --dark-300: rgb(31, 31, 31, .3);
    
    --gray-font-solid: #30343F;
    --gray-font-900: rgb(48, 52, 63, .9);
    --gray-font-500: rgb(48, 52, 63, .5);
    --gray-font-300: rgb(48, 52, 63, .3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;

    --light-font-solid: #FFFFFF;


    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Fonts Sizes */
    --font-display: 4.8em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: .8rem;
}

*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    /* Va a determinar como se comportan los margin - padding y content
        border-box se adapta el content de una caja a los cambios en un espacion determinado
        border-content se modifica todo menos el content */
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    /* Esto me hace que un em = 10px */
    color: #111111;
    background-color: var(--light-bg-solid);
}

a {
    text-decoration: none;
    color: inherit;
    /* Va a tomar el color que hereda*/
}

ul, ol {
    list-style-type: none;   
}

p {
    color: var(--gray-font-900);
}

h3, h4 {
    color: var(--dark-solid);
}

h2 {
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-display);
}



header, footer{
    background-color: var(--dark-bg-solid);
}

header, footer nav{
    font-size: var(--font-large);
    color: var(--light-font-solid);
    font-weight: 500px;
    font-style: var(--alternative-font);
}



.cointainer {
    max-width: 1200px;
    margin: 0 auto;
}



.card {
    width: 360px;
    margin: 0 auto;
}

.card img {
    width: 100% ;
}
.card-image {
    display: block;
    padding: 1.5rem;
}

.card-data {
    padding: 1.5rem;
}

.card .card-data p {
    margin-top: 2.6rem;
    margin-bottom: 1.9rem;
    margin: 1.3rem 0;
}



#collection-card, #price-card {
    font-size: var(--font-small);
    font-weight: 500;
}

#title-card {
    font-size: var(--font-medium);
    font-weight: 700;
}

#installments-card {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

.collection-image {
    display: inline-block;
    width: 600px;
    height: 600px;
}

#collection-title {
    font-style: var(--alternative-font);
    font-weight: 500;
    font-size: var(--font-display);
}

#collection-subtitle {
    font-style: var(--alternative-font);
    font-weight: 400;
    font-size: var(--font-large);
}



#banner-image {
    position: absolute;
    top: -246px;
    z-index: -1;
}

/* 
position: relative;
top: -340px;
*/

#banner-title {
    font-weight: 700;
    font-size: var(--font-display);
    font-style: var(--alternative-font);
    color: var(--light-font-solid);
}

#banner-subtitle {
    font-weight: 400;
    font-size: var(--font-medium);
    font-style: var(--alternative-font);
    color: var(--light-font-solid);
}