<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funkoshop</title>
</head>
<body>
    <header>
        <img src="../resources/branding/logo_light_horizontal.svg" alt="Foto de logo Funkoshop" height="100px">
        <nav>
            <a href="">SHOP</a>
            <a href="">CONTACTO</a>
            <a href="">LOGIN</a>
            <button><img src="../resources/icons/cart-icon.svg" alt="Imágen de carrito" height="50px"></button>
        </nav>
    </header>

    <main> 
        <article id="banner">
            <h1>Nuevos Ingresos</h1>
            <p>Descubrí el próximo Funko Pop de tu colección</p>
            <img src="../resources/funkos-banner.webp" alt="Foto de fun" height="300px">
            <input type="button" value="SHOP">
        </article>

        <article id="star-wars">
            <h1>Star Wars & The Mandalorian </h1>
            <p>Disfruta de una saga que sigue agregando personajes a su colección.</p>
            <img src="../resources/star-wars/baby-yoda-1.webp" alt="Foto de bebe Yoda" height="200px">
            <input type="button" value="VER COLECCION">
        </article>

        <article id="pokemon">
            <h1>POKEMON INDIGO</h1>
            <p>Atrapa todos los que puedas y disfruta de una colección llena de amigos.</p>
            <img src="../resources/pokemon/vulpix-1.webp" alt="Foto de vulpix" height="200px">
            <input type="button" value="VER COLECCION">
        </article>

        <article id="harry-potter">
            <h1>HARRY POTTER</h1>
            <p>Revive los recuerdos de una saga llena de magia y encanto.</p>
            <img src="../resources/harry-potter/snape-patronus-1.webp" alt="Foto de snape-patronus" height="200px">
            <input type="button" value="VER COLECCION">
        </article>

        <article id="news">
            <article id="card-1">
                <img src="../resources/star-wars/trooper-1.webp" alt="Foto de trooper" height="100px">
                <p>STAR WARS</p>
                <h1>STORMTROOPER LIGHTSABER</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
            <article id="card-2">
                <img src="../resources/pokemon/pidgeotto-1.webp" alt="Foto de pidgeotto" height="100px">
                <p>POKEMON</p>
                <h1>PIDGEOTTO</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
            <article id="card-3">
                <img src="../resources/harry-potter/luna-1.webp" alt="Foto de luna" height="100px">
                <p>HARRY POTTER</p>
                <h1>LUNA LOVEGOOD LION MASK</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
        </article>

    </main>

    <footer>
        <div>
            <a href="">SHOP</a><br>
            <a href="">REGISTRARSE</a><br>
            <a href="">INGRESAR</a><br>
            <a href="">CONTACTO</a>
        </div>
        <img src="../resources/branding/isotype.svg" alt="Logo de Funkoshop">
        <p>All rights reserved 2022 - Funkoshop &copy;</p>
    </footer>

</body>
</html>