<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funkoshop</title>
</head>
<body>
    <header>
        <img src="../resources/branding/logo_light_horizontal.svg" alt="Foto de logo Funkoshop" height="100px">
        <nav>
            <a href="">SHOP</a>
            <a href="">CONTACTO</a>
            <a href="">LOGIN</a>
            <button><img src="../resources/icons/cart-icon.svg" alt="Imágen de carrito" height="50px"></button>
        </nav>
    </header>

    <main>
        <article id="itemSeleccionado">
            <img src="../resources/star-wars/baby-yoda-1.webp" alt="Foto de baby-yoda" height="300px">
            <p>STAR WARS</p>
            <h1>BABY YODA BLUEBALL</h1>
            <p>Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga, edición limitada.</p>
            <p>$ 1799,99.-</p>
            <input type="number" placeholder="0">
            <input type="button" value="Agregar al Carrito">
            <p>Ver métodos de pago - 3 CUOTAS SIN INTERÉS</p>
        </article>

        <article id="news">
            <p>PRODUCTOS RELACIONADOS</p>
            <article id="card-1">
                <img src="../resources/star-wars/trooper-1.webp" alt="Foto de trooper" height="100px">
                <p>STAR WARS</p>
                <h1>STORMTROOPER LIGHTSABER</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
            <article id="card-2">
                <img src="../resources/pokemon/pidgeotto-1.webp" alt="Foto de pidgeotto" height="100px">
                <p>POKEMON</p>
                <h1>PIDGEOTTO</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
            <article id="card-3">
                <img src="../resources/harry-potter/luna-1.webp" alt="Foto de luna" height="100px">
                <p>HARRY POTTER</p>
                <h1>LUNA LOVEGOOD LION MASK</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
        </article>
    </main>

    <footer>
        <div>
            <a href="">SHOP</a><br>
            <a href="">REGISTRARSE</a><br>
            <a href="">INGRESAR</a><br>
            <a href="">CONTACTO</a>
        </div>
        <img src="../resources/branding/isotype.svg" alt="Logo de Funkoshop">
        <p>All rights reserved 2022 - Funkoshop &copy;</p>
    </footer>
</body>
</html>