<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funkoshop</title>
</head>
<body>
    <header>
        <img src="../resources/branding/logo_light_horizontal.svg" alt="Foto de logo Funkoshop" height="100px">
        <nav>
            <a href="">SHOP</a>
            <a href="">CONTACTO</a>
            <a href="">LOGIN</a>
            <button><img src="../resources/icons/cart-icon.svg" alt="Imágen de carrito" height="50px"></button>
        </nav>
    </header>

    <main>
        <aside>
            <p>BUSCAR</p>
            <input type="text" placeholder="item o categoria">

            <p>ORDENAR POR</p>
            <select name="" id="ordenarPorCriterio" >
                <option value="" selected>Mayor a menor</option>
            </select>

            <p>PRECIO</p>
            <label>MIN</label>
            <input type="number" value="0">
            <label> - </label>
            <label>MAX</label>
            <input type="number" value="0">

            <p>FILTRAR</p>
            <input type="checkbox" name="" id="filtroPorCriterio">NUEVOS <br>
            <input type="checkbox" name="" id="filtroPorCriterio">OFERTAS <br>
            <input type="checkbox" name="" id="filtroPorCriterio">EDICIÓN ESPECIAL <br>
            <input type="checkbox" name="" id="filtroPorCriterio">FAVORITOS 
        </aside>

        <article id="news-1">
            <article id="card-1">
                <img src="../resources/star-wars/trooper-1.webp" alt="Foto de trooper" height="100px">
                <p>STAR WARS</p>
                <h1>STORMTROOPER LIGHTSABER</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
            <article id="card-2">
                <img src="../resources/pokemon/pidgeotto-1.webp" alt="Foto de pidgeotto" height="100px">
                <p>POKEMON</p>
                <h1>PIDGEOTTO</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
            <article id="card-3">
                <img src="../resources/harry-potter/luna-1.webp" alt="Foto de luna" height="100px">
                <p>HARRY POTTER</p>
                <h1>LUNA LOVEGOOD LION MASK</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
        </article>

        <article id="news-2">
            <article id="card-1">
                <img src="../resources/star-wars/trooper-1.webp" alt="Foto de trooper" height="100px">
                <p>STAR WARS</p>
                <h1>STORMTROOPER LIGHTSABER</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
            <article id="card-2">
                <img src="../resources/pokemon/pidgeotto-1.webp" alt="Foto de pidgeotto" height="100px">
                <p>POKEMON</p>
                <h1>PIDGEOTTO</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
            <article id="card-3">
                <img src="../resources/harry-potter/luna-1.webp" alt="Foto de luna" height="100px">
                <p>HARRY POTTER</p>
                <h1>LUNA LOVEGOOD LION MASK</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
        </article>

        <article id="news-3">
            <article id="card-1">
                <img src="../resources/star-wars/trooper-1.webp" alt="Foto de trooper" height="100px">
                <p>STAR WARS</p>
                <h1>STORMTROOPER LIGHTSABER</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
            <article id="card-2">
                <img src="../resources/pokemon/pidgeotto-1.webp" alt="Foto de pidgeotto" height="100px">
                <p>POKEMON</p>
                <h1>PIDGEOTTO</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
            <article id="card-3">
                <img src="../resources/harry-potter/luna-1.webp" alt="Foto de luna" height="100px">
                <p>HARRY POTTER</p>
                <h1>LUNA LOVEGOOD LION MASK</h1>
                <p>$ 1799,99.-</p>
                <p>3 CUOTAS SIN INTERÉS</p>
            </article>
        </article>

        <!--`Pagination -->

    </main>

    <footer>
        <div>
            <a href="">SHOP</a><br>
            <a href="">REGISTRARSE</a><br>
            <a href="">INGRESAR</a><br>
            <a href="">CONTACTO</a>
        </div>
        <img src="../resources/branding/isotype.svg" alt="Logo de Funkoshop">
        <p>All rights reserved 2022 - Funkoshop &copy;</p>
    </footer>
</body>
</html>