<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../../resources/branding/logo_light_horizontal.svg" alt="Foto de logo Funkoshop" height="100px">
        <a href="">Salir</a>
    </header>

    <main>
        <form action="" method="post">
            <p>EDITAR ITEM</p>

            <p>Categoría:</p>
            <select name="" id="">
                <option value="Figuras"></option>
            </select>

            <p>Licencia::</p>
            <select name="" id="">
                <option value="Naruto Shippuden"></option>
            </select>

            <p>Nombre del producto:</p>
            <input type="text" placeholder="Kakashi Hatake Shippuden Saga">

            <textarea name="" id="" cols="30" rows="10" placeholder="Figura Funko coleccionable de Kakashi Hatake de la saga Naruto Shipudden invocando chidori.  "></textarea>
            
            <p>SKU:</p>
            <input type="text" placeholder="SSK111AB001">

            <p>Precio:</p>
            <input type="number" placeholder="$ 0.000,00">

            <p>Stock:</p>
            <input type="number" placeholder="0">

            <p>Descuento:</p>
            <input type="number" placeholder="0%">

            <p>Cuotas:</p>
            <select name="" id="">
                <option value="">6 Cuotas sin interés</option>
            </select>

            <p>Imágenes:</p>
            <input type="button" value="Elegir archivos">
            <p>No se ha seleccionado ningún archivo</p>

            <img src="../../resources/harry-potter/harry-1.webp" alt="" height="150px">
            <label for="">Frente</label>

            <img src="../../resources/harry-potter/harry-box.webp" alt="" height="150px">
            <label for="">Dorso</label>

            <button type="submit" class="btn btn-primary">Modificar Producto</button>
        </form>
    </main>

    <footer>
        <div>
            <a href="">SHOP</a><br>
            <a href="">REGISTRARSE</a><br>
            <a href="">INGRESAR</a><br>
            <a href="">CONTACTO</a>
        </div>
        <img src="../../resources/branding/isotype.svg" alt="Logo de Funkoshop">
        <p>All rights reserved 2022 - Funkoshop &copy;</p>
    </footer>
</body>
</html>