<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funkoshop</title>
</head>
<body>
    <header>
        <img src="../../resources/branding/logo_light_horizontal.svg" alt="Foto de logo Funkoshop" height="100px">
        <a href="">Salir</a>
    </header>

    <main>
        <form action="" method="post">
            <p>INGRESAR A MI CUENTA</p>

            <label>Email:</label>
            <input type="email" name="" id="" placeholder="johndoe@correo.com"><br>

            <label>Contraseña:</label>
            <input type="password" name="" id="" placeholder="*********">
            <input type="submit" value="Ingresar">
            <input type="checkbox" name="" id="">Recordarme
        </form>
        
        <a href="">Olvidé mi contraseña</a>
    </main>

    <footer>
        <div>
            <a href="">SHOP</a><br>
            <a href="">REGISTRARSE</a><br>
            <a href="">INGRESAR</a><br>
            <a href="">CONTACTO</a>
        </div>
        <img src="../../resources/branding/isotype.svg" alt="Logo de Funkoshop">
        <p>All rights reserved 2022 - Funkoshop &copy;</p>
    </footer>
</body>
</html>